<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            background-color: #8f95e3;
        }
        h1 {
            color: #e3f086;
        }
        td {
            color: #d7f092;
        }
        th {
            color: #dbbf0d;
        }
    </style>
</head>
<body>
    <div class="container">
        <% if (isLoggedIn) { %>
            <a class="red btn" href="/logout"> LOGOUT <%=user.name%>!</a>
        <% } else { %>
            <a class="blue btn" href="/login"> LOGIN</a>
        <% } %>
        <div class="section flow-text" id="stuffDetail">
            <h1>Assignment Details:</h1>
            <a class="btn-small waves-effect waves-light" href="/list">Full List
                <i class="material-icons left">arrow_back</i>
            </a>
            <table>
                <tr>
                    <th>Name:</th>
                    <td><%=item%></td>
                </tr>
                <tr>
                    <th>Due Date:</th>
                    <td><%=due_date%></td>
                </tr>
                <tr>
                    <th>Class:</th>
                    <td><%=classes%></td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td><%=description%></td>
                </tr>
            </table>
        </div>

        <div class="section" id="stuffControls">
            <a class="btn-large waves-effect waves-light orange left modal-trigger" href="#stuffEdit">
                <i class="material-icons right">edit</i>
                Edit
            </a>
            <a class="btn-large waves-effect waves-light red right" href="/list/stuff/<%=id%>/delete">
                <i class="material-icons right">delete</i>
                Delete
            </a>
        </div>

        <div class="modal" id="stuffEdit">

            <div class="modal-content">

                <h2>Edit Assignment:</h2>
                <form method="post" action="/list/stuff/<%=id%>"> <!-- default action is the page's URL --> 
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="nameInput">Assignment Name:</label>
                            <input type="text" name="homework_name" id="nameInput" class="validate" value="<%=item%>" data-length="32" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="quantityInput">Date Due:</label>
                            <input type="date" name="assignment_date" value="<%=due_date%>" data-length="32" required> 
                        </div>
                        <div class="input-field col s6">
                            <label for="nameInput">Class Name:</label>
                            <input type="text" name="class_name" id="nameInput" class="validate" value="<%=classes%>" data-length="32" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="descriptionInput">Assignment Description:</label>
                            <input type="text" name="class_description" id="descriptionInput" value="<%=description%>" data-length="100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit">
                            <i class="material-icons right">send</i>
                            Submit
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat">Never Mind</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script> M.AutoInit();</script>

</body>
</html>


